#panel {
    background-color: transparent !important;
}

.panel-button,
.panel-button .clock {
    background-color: PANEL-DASH-BG;
    border-color: PANEL-MENU-SHADOW !important;
}

.panel-button:hover,
.panel-button:hover .clock,
.panel-button:active,
.panel-button:active .clock {
    background-color: PANEL-BTN-OPAQUE-HOVER;
}